.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgba(100, 100, 100, 0.85);
    border-top: 2px solid black;
    margin-top: 7.5px;
}

.text{
    font-size: 22px;
}