.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input{
    outline: none;
}

.btn{
    cursor: pointer;
}