.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container2{
    width: fit-content;
    background-color: rgba(155, 155, 155, 0.9);
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 20px;
}

.input{
    text-decoration: none;
    border: 1px solid black;
    outline: none;
    height: 30px;
    padding-left: 15px;
    border-radius: 20px;
}

.btn{
    margin-left: 20px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(228, 228, 228, 0.8);
    border-radius: 20px; 
    border: 1.5px solid black;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}