.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-content: center;
    font-size: 12px;
}

.cards{
    padding: 7%;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    gap: 1%;
    transition: 0.3s;
}

.content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

.name{
    font-size: 200%;
    height: 20px;
    margin-top: 0px;
}

.weight{
    margin-top: 10%;
    text-decoration: none;
    font-size: 140%;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.temp{
    font-size: 20px;
    height: 45px;
}