.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.title{
    color: white;
    position: absolute;
    background-color: black;
}

.btn{
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    color: #1fe8b6;
    padding: 20px 50px;
    border: 3px solid #1fe8b6;
    top: 20%;
    left: 10%;
    background-color: transparent;
}

.btn::before,
.btn::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

.btn::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.btn::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.btn:hover::before,
.btn:hover::after{
    width: calc(100% + 27px); 
    height: calc(100% + 27px);
}