.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(155, 155, 155, 0.9);
    border-bottom: 2px solid black;
}

.filters{
    display: flex;
    justify-content: space-around;
}